/nbproject/
/nbproject/private/
/node_modules/
/bower_components/
/Doxyfile
/Doxy_warn.log
/.env
/database/dumps/
/database/liquibase/
/app/Http/routes.php
/app/Http/routes_datamodel.php
/app/Models/
/public/appfiles/
/public/vendor/
/public/doc/
/resources/views/vendor/
/resources/vendor/
/storage/debugbar/
/storage/logs/
/storage/docs/
/tests/
/vendor/