/nbproject/
/nbproject/private/
/INSTALL.md
/gdm_latest.tgz
/build-and-run-gdm.sh
/vendor/
/sdk/
/node_modules/
/bower_components/
/resources/vendor/
/.env
/lib/tools/make_pmd_tar.sh
/lib/tools/CustomControllerGeneratorProvider.php
/lib/tools/MakeCustomControllerCommand.php
/lib/tools/liquibase-3.5.3-bin.tar.gz
/liquibase
/liquibase.bat
/liquibase.jar
/liquibase.spec
/database/dumps/
/database/liquibase/
/resources/views/projects/index.blade.compact.php
/app/Http/Controllers/ProposalsController0.php
/app/Http/Controllers/ProjectsController.0.php