
.debug { color:red; border:1px solid red; border-radius:5px; font-family: monospace; margin: 1em 0; }
.hint  { width:100%; margin:1em 0 1em 0; padding:5px; color:grey; border:1px solid grey; border-radius:5px;}

.navbar-inverse {
   border: none;
}
.navbar-inverse .navbar-brand {
        color: white;
}
.navbar-inverse .navbar-brand:hover {
        color: red;
}

