
.debug { color:red; border:1px solid red; border-radius:5px; font-family: monospace; margin: 1em 0; }
.hint  { width:100%; margin:1em 0 1em 0; padding:5px; color:grey; border:1px solid grey; border-radius:5px;}

.alert, .btn {
    border:none;
    color:black;
}

.navbar-inverse {
   border: none;
}
.navbar-inverse .navbar-brand {
        color: white;
}
.navbar-inverse .navbar-brand:hover {
        color: red;
}
a {
    color: darkred;
}
a:hover {
    color: black;
    text-decoration: none;
}

.maintable th.rotate {
    height: 160px !important;
    white-space: nowrap !important;
    vertical-align: top !important;
    max-width: 2em !important;
}

.maintable th.rotate > div {
    transform:
        translate(-25px, 75px)
        rotate(315deg) !important;
    width:160px !important;

}
.maintable th.rotate > div > span {
    padding: 0 !important;
    width:160px !important;
}
.maintable td {
    border-right: 1px solid #ccc !important;
}