# sample environment file, used by laravel

GDM_HOME=/usr/share/app
GDM_URL="http://localhost:8000"
GDM_INSTITUTION="Naturkundemuseum Berlin"
GDM_NAME="My Data Module"
GDM_MANAGER_NAME="john.joe"
GDM_MANAGER_EMAIL=john.doe@example.org
GDM_EXCLUDED_TABLES=languages,users,password_resets,permissions,permission_role,roles,role_user,migrations,DATABASECHANGELOG,DATABASECHANGELOCK

DB_CONNECTION=mysql
DB_HOST=localhost
DB_DATABASE=my_data_module
DB_USERNAME=root
DB_PASSWORD=p

APP_ENV=local
APP_DEBUG=false
APP_KEY=vHc1mkjlqjRC7NnAAw9w41ANTNeczMRC

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

#MAIL_DRIVER=smtp
#MAIL_HOST=smtp.example.org
#MAIL_PORT=25
#MAIL_USERNAME=null
#MAIL_PASSWORD=null
#MAIL_ENCRYPTION=null
